
<div class="col-lg-12">
    <br />
</div>

<div class="jumbotron container">
    <h1>Shop</h1>
    <p>
        Get all the snacks you need.
    </p>

</div>


<div class="container">
    <div class="row">
        <div class="col-md-3 col-md-offset-1">
            <div class="box text-center">
                <span class="text-center" id="DrinksBox">Drinks</span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box text-center">
                <span class="text-center" id="FoodBox">Food</span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box text-center">
                <span class="text-center" id="SweetsBox">Sweets</span>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var drinksList = [];
        var foodList = [];
        var sweetsList = [];
        $.post('@(Url.Action("AllProducts","User"))', "", function (data, status) {
            drinksList = data.Drinks;
            foodList = data.Food;
            sweetsList = data.Sweets;
        });
        $(document).on('click', '#DrinksBox', function () {
            alert(drinksList[0]);
        });
        $(document).on('click', '#FoodBox', function () {
            alert(foodList[0]);
        });
        $(document).on('click', '#SweetsBox', function () {
            alert(sweetsList[0]);
        });

    });
</script>